:root {
  --accent-color: #fd9222;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.title-accent {
  color: var(--accent-color);
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.menu-list {
  display: flex;
  gap: 24px;
}

.container {
  width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* .features-subtitle:hover + p {
  background-color: #fd9222;
} */

/* HEADER SECTION */
.header {
  /* padding-top: 24px;
  padding-bottom: 32px; */
}

.header-container {
  display: flex;
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
  margin-right: 90px;
}

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
  display: flex;
  align-items: center;
}

.header-logo-italic {
  font-style: italic;
}

.header-menu-link {
  color: #111;
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-soc-list {
  display: flex;
  gap: 18px;
}

.header-soc-link {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-icon {
  fill: none;
  stroke: #111;
}

/* HERO SECTION*/
.hero {
  padding-bottom: 72px;
}

.hero-container {
  background-image: url(../images/chocolate_main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 380px 40px 40px 40px;
  border-radius: 30px;
}

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 32px;
  max-width: 484px;
}

.hero-buttons {
  display: flex;
  align-items: center;
}

.hero-primary-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  padding: 14px 40px;
  border-radius: 100px;
  background-color: #fd9222;
  border: none;
  margin-right: 14px;
}

.hero-primary-btn:is(:hover, :focus) {
  color: var(--accent-color);
}

.hero-secondary-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  padding: 14px 40px;
  border-radius: 100px;
  border: 1px solid #fff;
}

.hero-scroll-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.scroll-btn {
  background-color: #fff;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-icon {
  fill: #fd9222;
}

/* FEATURES SECTION */
.features {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.features-list {
  display: flex;
  gap: 88px;
  padding-left: 18px;
  padding-right: 18px;
}

.features-item {
  width: calc((100% - 2 * 88px) / 3);
  /* flex-basis: calc((100% - 2 * 88px) / 3); */
  position: relative;
}

.features-item:not(:last-child):after {
  content: "";
  position: absolute;
  width: 1px;
  height: 124px;
  background-color: rgba(255, 255, 255, 0.5);
  right: -18px;
  top: 50%;
  transform: translateY(-50%);
}

.features-icon {
  fill: #fd9222;
}

.icon-container {
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 62px;
  height: 62px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
}

.features-subtitle {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.features-item-text {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/* TASTE SECTION */
.taste {
  padding-top: 100px;
  padding-bottom: 50px;
}

.taste-title {
  max-width: 411px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.taste-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  max-width: 486px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.taste-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 19px;
}

.taste-item {
  border: 1px solid #fd9222;
  border-radius: 15px;
  padding: 28px;
  width: calc((100% - 3 * 19px) / 4);
  position: relative;
}

.taste-item:nth-child(4n + 1) {
  background-color: #fd9222;
  border: none;
}

.taste-item:nth-child(4n + 1) > .taste-subtitle {
  color: #fff;
}

.taste-item:nth-child(4n + 3) {
  background-color: #1e1823;
  border: none;
}

.taste-item:nth-child(4n + 3) > .taste-subtitle {
  color: #fff;
}

.taste-img {
  margin-bottom: 36px;
}
.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}

.taste-icon {
  stroke-width: 1px;
  stroke: #fafafa;
}

.taste-icon-container {
  border: 1px solid #fafafa;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 15px;
  top: 15px;
}

.taste-item:nth-child(2n + 2) > .taste-icon-container {
  border: 1px solid #fd9222;
}

.taste-item:nth-child(2n + 2) > .taste-icon-container .taste-icon {
  stroke: #fd9222;
}

/* MADE SECTION */
.made {
  padding-top: 70px;
  padding-bottom: 60px;
}

.made-section-container {
  display: flex;
  gap: 20px;
}

.made-title {
  margin-bottom: 50px;
}

.made-text-list {
  background-color: #fff;
  border-radius: 15px;
  padding: 32px;
  max-height: 400px;
}

.made-img {
}
.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  color: #111;
  margin-bottom: 28px;
}
.made-list {
}
.made-item {
  display: flex;
  gap: 8px;
  align-items: baseline;
}
.made-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
  margin-bottom: 24px;
}

.made-item::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #4c4c4c;
  border-radius: 50%;
  border: 1px solid #eceded;
  flex-shrink: 0;
}

/* PRODUCTS SECTION */
.products {
  padding-top: 70px;
  padding-bottom: 60px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

.products-img {
  margin-bottom: 8px;
}

.products-list-item {
  padding: 32px 20px;
  background: #fff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  width: calc((100% - 18px * 3) / 4);
  text-align: center;
}

.products-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 2px;
}

.products-subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  margin-bottom: 18px;
}

.products-price-btn {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #111;
}

/* TOP-SELLERS SECTION */
.top-sellers {
  padding-top: 70px;
  padding-bottom: 60px;
}

.sellers-list {
  display: flex;
  gap: 16px;
  margin-top: 50px;
}

.sellers-list-item {
  background-color: #fff;
  text-align: center;
}

.sellers-img-container {
  border-radius: 15px 15px 0 0;
}

.sellers-text-container {
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 0 0 15px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sellers-img-subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  padding: 28px 0;
}

/* REVIEW SECTION */
.review {
  padding-top: 70px;
  padding-bottom: 120px;
}
.review-title {
}
.review-list {
  display: flex;
  gap: 28px;
  margin-top: 91px;
  margin-bottom: 49px;
}
.review-item {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  text-align: center;
  background-color: #fff;
  padding-top: 56px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  width: calc((100% - 28px * 2) / 3);
  position: relative;
}

.review-img {
  position: absolute;
  left: 50%;
  top: -40%;
  transform: translate(-50%, 50%);
}

.review-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
  margin-bottom: 24px;
}

.review-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.review-btn {
  font-weight: 600;
  font-size: 18px;
  color: #111;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  background-color: transparent;
  display: block;
  margin: 0 auto;
}

/* FOOTER */
.footer {
  background: #1e1823;
  padding: 50px 32px;
}

.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
  max-width: 300px;
}

.footer-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fff;
  margin-bottom: 14px;
}

.footer-top {
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 50px;
  margin-bottom: 24px;
}

.footer-contacts:not(:last-child) {
  margin-right: 50px;
}

.spacer {
  flex-grow: 1;
}

.footer-address {
}

.footer-address-list {
}
.footer-address-item:not(:last-child) {
  margin-bottom: 4px;
}

.footer-address-link {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #fff;
}
.footer-navigation {
}
.footer-menu-list {
}

.footer-menu-item {
}

.footer-menu-link {
  color: #ffffff;
}

.footer-icons-list {
  display: flex;
  justify-content: center;
  gap: 14px;
}

.footer-icons-item {
  width: calc((100% - 14px * 2) / 3);
}

.footer-icon {
  stroke: #fff;
}

.footer-input {
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding: 13px 24px;
  width: 313px;
  height: 52px;
  color: #fff;
  background-color: transparent;
  outline: none;
}

.footer-input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
}

.footer-btn {
  border-radius: 100px;
  padding: 17px 40px;
  background-color: #fd9222;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: none;
  margin-left: 8px;
}

.footer-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
